<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>{{site_title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">{{site_title}}</h1>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">

      {% for post in posts %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title | e }}</h2>
        <p class="blog-post-meta">{{ post.date | e }} by <a href="#">{{ post.author | e }}</a></p>
        <p>{{ post.content | e }}</p>
      </div><!-- /.blog-post -->
      {% endfor %}

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Info</h4>
        <p class="lead blog-description">$remembered_name</p>
        <p>{{site_description}}</p>
      </div>
      <div class="sidebar-module">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('add_post') }}">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Enter title"
                   value="$remembered_name">
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button><span class="small"><em>with Sakura&reg; N0Captcha&trade; b0t checking model</em></span>
        </form>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->

<footer class="blog-footer">
  <p><a href="{{ url_for('admin') }}">Admin</a> &copy; Sakura</p>
</footer>
<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/vendor/jquery.min.js") }}"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
</body>

</html>
<!doctype html>